.container {
  margin-top: 20px;
}

.content-text {
  padding-top: 8px;
}

.todo-header {
  cursor: pointer;
}

#inputList {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inputList input {
  margin-right: 5px;
}
